body{
  background-color: #232f3e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
}
.mainBox{
  height: 550px;
 
  background-size: cover;
  width:550px;
}
.smallBoxes{
  /* background-image: url('images/diamond.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  

}
/* .testbox{
  height: 100px;
  width :100px;
  background-image: url('images/Mine.png');
  background-size: cover;
  background-color: white;
} */
 
 #numberInput{
   
 }

.hide{
  display: none;
}