.body {
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.mainBox {
  height: 550px;
  width: 550px;
  background-size: cover;
}

.smallBoxes {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.stakeLogo {
  height: 200px;
  width: 200px;
  background-image: url(images/stake.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.sideStakeLogo {
  margin-right: 1300px;
}

.hide {
  display: none;
}

.message-box {
  text-align: center;
}

.profit-box {
  text-align: center;
}
